@import '../global.scss';

.container {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  
  @include standard-border($grey);
  padding: $standard-padding;
  padding-top: $em * 4;

  & > *, & .block > * {
    margin-bottom: $small * 4;
  }

  section {
    margin-bottom: $em * 2;

    & > * {
      margin: $small
    }
  }

  h1 {
    @extend %heading;
    background-color: transparent; 
  }

  .imgWrapper {
    overflow: hidden;
    @extend %centerXY;
    @include standard-border($translucent-grey);
  }

  form {
    display: flex;
    flex-direction: column;

    & > * {
      margin: $small 0;
    }

    input, textarea {
      font-size: inherit;
      font-family: inherit;
      padding: $small;
    }
  }
}