@import '../global.scss';

%input {
  font-size: inherit;
  font-family: inherit;
  padding: $small;
  border: 1px inset $translucent-grey;
}

form {
  display: flex;
  flex-direction: column;

  & > * {
    margin: $small 0;
  }

  input, select, textarea {
    @extend %input;
  }
}

button {
  @extend %input;
  border-radius: $small;
  cursor: pointer;
}

.container {
  padding: $standard-padding;

  .itemField {
    display: flex;
    align-items: center;
    margin-bottom: $small;

    & > * {
      margin: 0 $small;
    }

    .listNumber {
      @extend %centerXY;
      margin-right: $small;
    }

    .itemText {
      flex: 1;
      padding: $small;
      background-color: $light;
      border: 2px solid transparent;
      cursor: default;
    }

    .newLineButton {
      @extend .listNumber;
      width: 14px;
      border: 2px solid transparent;
      margin-left: 2px;
      background-color: $grey;
      color: $white;
      cursor: pointer;
    }
  }

  .addItemField {
    @extend .itemField;

    input {
      flex: 1;
    }
  }
}