$white: snow;
$grey: rgb(119, 119, 119);
$translucent-grey: rgba(119, 119, 119, 0.3);
$black: #333;

$em: 16px;
$small: 4px;
$standard-padding: $small * 3 $em;

@mixin standard-border($color) {
  border: 2px solid $color;
}

@mixin dark($backColor) {
  background-color: $backColor;
  color: $white;
}

%cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%evenX {
  display: flex;
  justify-content: space-evenly;
}

%centerXY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%heading {
  color: $grey;
  font-weight: bolder;
  letter-spacing: 2px;
  white-space: nowrap;
}