@import '../global.scss';

html {
  min-height: 100%;
}

body {
  @extend %cover;
  top: $em * 4;
  margin: 0;

  font-size: $em;
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
}

#root, #root > div {
  @extend %cover;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: $standard-padding;
  font-size: $em + $small;
  font-weight: normal;
  cursor: default;
  @extend %heading;
  @include dark($grey);
}

.mainHeader {
  position: fixed;
  z-index: 10;
}

main {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    width: 100%;
    margin: $em 0;
    flex: 0;
  }
}

ol {
  list-style: decimal inside;
}

ol, ul {
  & > li {
    margin: 2 * $small 0;
    padding: $small;
  }
}