@import '../_groups/forms.module.scss';

.container {
  background-color: $orange;

  .addItemField {
    flex-direction: row;
    margin-bottom: 0;

    & > * {
      margin: 0 $small
    }

    .description {
      flex: 3;
    }
  }
}